<!DOCTYPE html>
<html>

<head>
    <title>Smart Timetable Optimizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <h2>Smart Timetable Optimizer</h2>

        <div>
            <a href="/">Home</a>
            <a href="/teacher">Teachers</a>
            <a href="/subject">Subjects</a>
            <a href="/classroom">Classrooms</a>
            <a href="/class">Classes</a>
            <a href="/assignment">Assignments</a>
            <a href="/view_assignments">View Assignments</a>
            <a href="/set-password-page">Set Password</a>
            <a href="/teacher-login">Teacher Login</a>
        </div>
    </nav>


    <!-- Main Section -->
    <section class="hero">

        <h1>Smart Timetable Optimizer</h1>

        <p>
            Generate a conflict-free college timetable automatically
            using intelligent scheduling.
        </p>

        <a href="/generate">
    <button>Generate Timetable</button>
</a>

    </section>


    <!-- Features -->
    <section class="features">

        <div class="card">
            <h3> Teachers</h3>
            <p>Manage teacher availability and workload.</p>
        </div>


        <div class="card">
            <h3> Subjects</h3>
            <p>Add subjects and assign required periods.</p>
        </div>


        <div class="card">
            <h3> Classrooms</h3>
            <p>Manage classrooms and laboratory rooms.</p>
        </div>


        <div class="card">
            <h3> Generate</h3>
            <p>Create an optimized timetable automatically.</p>
        </div>

    </section>


</body>

</html>