<!DOCTYPE html>
<html>
<head>
    <title>Set Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <h2>Smart Timetable Optimizer</h2>
    <div>
        <a href="/">Home</a>
    </div>
</nav>

<h1>Set Your Password</h1>

<form action="/save_password" method="POST">

    <label>Select Your Name:</label><br>
    <select name="teacher_name" required>
        <option value="">-- Select --</option>
        {% for t in teachers %}
            <option value="{{ t[0] }}">{{ t[0] }}</option>
        {% endfor %}
    </select><br><br>

    <label>Create Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Save Password</button>

</form>

</body>
</html>