<!DOCTYPE html>
<html>

<head>
    <title>View Teachers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
    <h2>Smart Timetable Optimizer</h2>

    <div>
        <a href="/">Home</a>
        <a href="/teacher">Teachers</a>
        <a href="/subject">Subjects</a>
        <a href="/classroom">Classrooms</a>
        <a href="/class">Classes</a>
    </div>
</nav>

<h1>All Teachers</h1>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Action</th>
</tr>

{% for teacher in teachers %}

<tr>
    <td>{{ teacher[0] }}</td>
    <td>{{ teacher[1] }}</td>
    <td>{{ teacher[2] }}</td>
    <td>{{ teacher[3] }}</td>
    <td><a href="/delete-teacher/{{ teacher[0] }}" onclick="return confirm('Delete this teacher?')">Delete</a></td>
</tr>

{% endfor %}

</table>

</body>
</html>